@model IEnumerable<CMRmvc.ViewModel.EmailViewModel>
@using System.Globalization

@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Email/_LayoutEmail.cshtml";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"><b>@ViewBag.TitleName</b></h3>

        <div class="card-tools">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Buscar Mail">
                <div class="input-group-append">
                    <div class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                <i class="far fa-square"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm">
                    <i class="far fa-trash-alt"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <i class="fas fa-reply"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <i class="fas fa-share"></i>
                </button>
            </div>
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm">
                <i class="fas fa-sync-alt"></i>
            </button>
            <div class="float-right">
                1-50/200
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
                <!-- /.btn-group -->
            </div>
            <!-- /.float-right -->
        </div>
        <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
                <tbody>

                    @foreach (var item in Model)
                    {

                        <tr asp-action="Read" asp-route-model="@item" asp-controller="Email">
                            <td>
                                <div class="icheck-primary">
                                    <input type="checkbox" value="" id="check1">
                                    <label for="check1"></label>
                                </div>
                            </td>
                            <td class="mailbox-star"><a><i class="fas fa-star text-warning"></i></a></td>
                            <td class="mailbox-name"><a asp-action="Read" asp-route-idmail="@item.Id" asp-controller="Email">@item.Destinatario</a></td>
                            <td class="mailbox-subject">
                                @{ var msgbody = item.Mensaje.Length > 55 ? item.Mensaje.Substring(0, 55) + "..." : item.Mensaje;
                                    var asubody = item.Asunto.Length > 25 ? item.Asunto.Substring(0, 25) + "..." : item.Asunto;
                                }
                                <b>@asubody</b>&nbsp;&nbsp;-&nbsp;&nbsp;@msgbody
                            </td>
                            <td class="mailbox-attachment"></td>
                            @if (item.Fec.Date == DateTime.Today.Date)
                            {
                                <td class="mailbox-date">Hoy</td>
                            }
                            else if (item.Fec.Date == DateTime.Now.AddDays(-1).Date)
                            {
                                <td class="mailbox-date">Ayer</td>
                            }
                            else
                            {
                                <td class="mailbox-date">@item.Fec.ToString("m", @CultureInfo.CreateSpecificCulture("es-ES"))</td>
                            }
                        </tr>

                    }

                </tbody>
            </table>
            <!-- /.table -->
        </div>
        <!-- /.mail-box-messages -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer p-0">
        <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                <i class="far fa-square"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm">
                    <i class="far fa-trash-alt"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <i class="fas fa-reply"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <i class="fas fa-share"></i>
                </button>
            </div>
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm">
                <i class="fas fa-sync-alt"></i>
            </button>
            <div class="float-right">
                1-50/200
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
                <!-- /.btn-group -->
            </div>
            <!-- /.float-right -->
        </div>
    </div>
</div>
<!-- /.card -->
