@model CMRmvc.Models.User

@{
    ViewData["Title"] = "Crud";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    string title = "Usuario";
    string ico = "fas fa-align-justify";
    if (ViewBag.Action == "Edit") { title = "Modificar Usuario"; ico = "far fa-edit"; }
    else if (ViewBag.Action == "Create") { title = "Alta Usuario"; ico = "fas fa-plus-circle"; }
    else if (ViewBag.Action == "Details") { title = "Detalles Usuario"; ico = "fas fa-info-circle"; }
}


<div class="d-flex">
    <div class="mr-auto p-2">
        <h4><i class="@ico"></i> @title</h4>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FecIns" />
            <input type="hidden" asp-for="FecUpd" />
            <input type="hidden" asp-for="FecDel" />
            <input type="hidden" asp-for="UsrIns" />
            <input type="hidden" asp-for="UsrUpd" />
            <input type="hidden" asp-for="UsrDel" />

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control"  readonly="@ViewBag.IsReadOnly" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control"  readonly="@ViewBag.IsReadOnly" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control"   readonly="@ViewBag.IsReadOnly" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control"  readonly="@ViewBag.IsReadOnly" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control"  readonly="@ViewBag.IsReadOnly"/>
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            @*   SELECT PERFIL
        <div class="form-group">
            <label class="control-label"></label>
            <select class="form-control" asp-items="@ViewBag.ParameterType" asp-for="ParTipo" readonly="@ViewBag.IsReadOnly">
            </select>
            <span asp-validation-for="ParTipo" class="text-danger"></span>
        </div>
            *@
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"  readonly="@ViewBag.IsReadOnly" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activo" class="control-label"></label>
                <input asp-for="Activo" class="form-control"  readonly="@ViewBag.IsReadOnly" />
                <span asp-validation-for="Activo" class="text-danger"></span>
            </div>

            <hr />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Volver</a>
                @if (ViewBag.Action != "Details")
                {
                    <input type="submit" value="Guardar" class="btn btn-primary active float-right" />
                }
            </div>

        </form>
    </div>
</div>


