@model CMRmvc.Models.User

@{
    ViewData["Title"] = "Crud";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    string title = "Usuario";
    string ico = "fas fa-align-justify";
    if (ViewBag.Action == "Edit") { title = "Modificar Usuario"; ico = "far fa-edit"; }
    else if (ViewBag.Action == "Create") { title = "Alta Usuario"; ico = "fas fa-plus-circle"; }
    else if (ViewBag.Action == "Details") { title = "Detalles Usuario"; ico = "fas fa-info-circle"; }
}


<div class="d-flex">
    <div class="mr-auto p-2">
        <h4><i class="@ico"></i> @title</h4>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="@ViewBag.Action">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input id="idUser" type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" readonly="@ViewBag.IsReadOnly" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-row align-items-center">
                <div class="form-group">
                    <label asp-for="PasswordHash" class="control-label"></label>
                    @if (ViewBag.Action != null && ViewBag.Action == "Edit" || ViewBag.Action == "Details")           
                    {
                        <input asp-for="PasswordHash" id="passwordInput" type="password" value="1234" class="form-control" readonly="readonly" />
                    }
                    else
                    {
                        <input asp-for="PasswordHash" id="passwordInput" type="password" class="form-control" readonly="@ViewBag.IsReadOnly" />
                    }
                    <span asp-validation-for="PasswordHash" class="text-danger"></span>
                </div>
                @if (ViewBag.Action == "Edit")
                {
                    <div class="input-group-append">
                        <button onclick="ResetPassword()" type="button" title="Reset Contraseña" class="btn btn-default mt-3"><i class="fas fa-key"></i></button>
                    </div>
                }

            </div>
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" readonly="@ViewBag.IsReadOnly" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" readonly="@ViewBag.IsReadOnly" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" readonly="@ViewBag.IsReadOnly" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>


            <div class="form-check">
                @if (ViewBag.IsReadOnly != null && ViewBag.IsReadOnly)
                {
                    <input asp-for="Activo" type="checkbox" class="form-check-input" readonly="@ViewBag.IsReadOnly" disabled />
                }
                else
                {
                    <input asp-for="Activo" type="checkbox" class="form-check-input" readonly="@ViewBag.IsReadOnly" />
                }
                <label asp-for="Activo" class="form-check-label"></label>
            </div>

            <div class="form-group">
                <label class="control-label">Rol</label>
                @if (ViewBag.IsReadOnly)
                {
                    <select class="form-control" asp-items="@ViewBag.MyRoles" asp-for="UsrUpd" readonly="@ViewBag.IsReadOnly" disabled>
                    </select>
                }
                else
                {
                    <select class="form-control" asp-items="@ViewBag.MyRoles" asp-for="UsrUpd" readonly="@ViewBag.IsReadOnly">
                    </select>
                }
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly="@ViewBag.IsReadOnly" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label" asp-for="Imagen" fo></label>
                <input type="file" accept=".jpg, .png, .jpeg|image/*" asp-for="Imagen" class="form-control-file">
            </div>

            <hr />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Volver</a>

                @if (!ViewBag.IsReadOnly)
                {
                    <input type="submit" value="Guardar" class="btn btn-primary active float-right" />
                }
            </div>

        </form>
    </div>
</div>

<script>
    var ResetPassword = function () {
        var userID = $('#idUser').val();
        $.ajax({
            type: "POST",
            url: "/Users/ResetPassword",
            dataType: "Json",
            data: jQuery.param({ id: userID }),
            success: function (data) {
                $("#passwordInput").attr("type", "");
                $("#passwordInput").val(data);
                alert('Su contraseña ha sido restablecida con éxito');

            }, error: function (data) {
                alert(data);
            }
        });
    }


</script>