@model CMRmvc.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPerfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPerfil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrClave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrClave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrNombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrNombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrDni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrDni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrImagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrImagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrCorreo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrCorreo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrActivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrFecUltIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrFecUltIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrFecClaveVcto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrFecClaveVcto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrNroLoginNok)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrNroLoginNok)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecIns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecIns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecUpd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecUpd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecDel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecDel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrIns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrIns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrUpd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrUpd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrDel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrDel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
