@model IEnumerable<CMRmvc.Models.User>
@{var menu = (List<MenuItemPadre>)ViewData["Menu"];}

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

    <div class="d-flex">
        @if (menu != null)
        {
            foreach (var padre in menu)
            {
                foreach (var hijo in padre.MenuItemHijo)
                {
                    if (hijo.Nombr == "Gestion de Usuarios")
                    {
                        <div class="mr-auto p-2">
                            @*fas fa-cogs*@
                            <h4><i class="@hijo.Icono"></i>&nbsp;&nbsp;@hijo.Nombr</h4>
                        </div>
                    }
                    var ac = hijo.MenuHijoAcciones.FirstOrDefault(x => x.MhaUrl == "Users/Create");
                    if (ac != null)
                    {
                        <div class="p-2">
                            <a asp-action="Crud" asp-route-isreadonly="false" class="btn btn-primary btn-sm float-right m-3" asp-route-myaction="Create"><i class="@ac.MhaIcono">@ac.MhaTexto</i></a>
                        </div>
                    }
                }
            }
        }

    </div>

<div class="card">
    <div class="card-body">
        <table id="listTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.NombreCompleto)</th>
                    <th>@Html.DisplayNameFor(model => model.Role)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Activo)</th>
                    <th>@Html.DisplayNameFor(model => model.FecIns)</th>
                    <th>@Html.DisplayNameFor(model => model.FecUltIngreso)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr id="row_@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                    </td>
                    <td>
                        @if (item.Role != null)
                        {
                        @Html.DisplayFor(modelItem => item.Role.Name)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @if (item.Activo)
                        {
                            <a>SI</a>
                        }
                        else
                        {
                            <a>NO</a>
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FecIns)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FecUltIngreso)
                    </td>
                    <td>
                        <div class="btn-group">

                            <a asp-action="Crud" class="btn btn-info btn-sm" title="Detalles" asp-route-isreadonly="true" asp-route-id="@item.Id" asp-route-myaction="Details">
                                <i class="nav-icon fas fa-search"></i>
                            </a>

                            @if (menu != null)
                            {
                                foreach (var padre in menu)
                                {
                                    foreach (var hijo in padre.MenuItemHijo)
                                    {
                                        foreach (var acciones in hijo.MenuHijoAcciones)
                                        {
                                            if (acciones.MhaUrl == "Users/Edit")
                                            {
                                                <a asp-action="Crud" class="btn btn-warning btn-sm" title="Editar" asp-route-isreadonly="false" asp-route-id="@item.Id" asp-route-myaction="Edit">
                                                    <i class="@acciones.MhaIcono"></i>
                                                </a>
                                            }
                                            if (acciones.MhaUrl == "Users/Delete")
                                            {
                                                <a href="#" class="btn btn-danger btn-sm" title="Eliminar" onclick="ConfirmDelete(@item.Id)">
                                                    <i class="@acciones.MhaIcono"></i>
                                                </a>
                                            }
                                        }
                                    }
                                }
                            }
                        </div>
                    </td>
                </tr>
                }

        </table>
    </div>
</div>

<div class="modal" id="mymodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el usuario?</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="DeleteUser()" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="userID" />
</div>

<script>

    var ConfirmDelete = function (userID) {

        $("#userID").val(userID);
        $("#mymodal").modal('show');
    }

    var DeleteUser = function () {
        var userID = $("#userID").val();

        $.ajax({
            type: "POST",
            url: "/Users/DeleteConfirmed",
            data: { id: userID },
            success: function () {
                $("#mymodal").modal('hide');
                $("#row_" + userID).remove();

            }
        });
    }


</script>