@model CMRmvc.Models.RoleViewModel

@{
    ViewData["Title"] = "Crud";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    string title = "Roles";
    string ico = "fas fa-align-justify";
    if (ViewBag.Action == "Edit") { title = "Modificar Roles"; ico = "far fa-edit"; }
    else if (ViewBag.Action == "Create") { title = "Alta Roles"; ico = "fas fa-plus-circle"; }
    else if (ViewBag.Action == "Details") { title = "Detalles Roles"; ico = "fas fa-info-circle"; }
}

<style type="text/css">
    .addIcon:hover, .updIcon:hover, .delIcon:hover, .actIcon:hover {
        zoom: 1.1
    }
</style>

<div class="mr-auto p-2">
    <h4><i class="@ico"></i>&nbsp;@title</h4>
</div>

<hr />

<form asp-action="@ViewBag.Action">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ConcurrencyStamp" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" readonly="@ViewBag.IsReadOnly" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-check">
            @if (ViewBag.IsReadOnly != null && ViewBag.IsReadOnly)
            {
                <input type="checkbox" style="width:22px; height:19px;" asp-for="IsActive" class="form-check-input" readonly="readonly" disabled />
            }
            else
            {
                <input type="checkbox" style="width:22px; height:19px;" asp-for="IsActive" class="form-check-input" />
            }
            &nbsp;&nbsp;<label asp-for="IsActive" class="form-check-label"></label>
        </div>
    </div>

    <!-- #region CHECKS ROLES -->

    @if (Model.Menu != null && Model.Menu.Count > 0 && Model.RolesAcciones != null && Model.RolesAcciones.Count > 0 && Model.PerfilMenuHijo != null && Model.PerfilMenuHijo.Count > 0)
    {
        <div class="row m-3"> 
            @for (int i=0;i < Model.Menu.Count; i++)
            {
            <div class="col-md-4 border m-2" style="min-width:420px !important;">
                <!--#343A40 color menu  -- otro color #2C3A43-->
                <div class="row" style="background-color:#2C3A43; color:azure; padding-bottom:6px;padding-right:6px; padding-left:6px;padding-top:-8px;">
                    <div class="col-md-7 mt-3">
                        @{ string dataClassPadre = "padre " + i;
                            string idPadre = "padre_" + Model.Menu[i].IdMenuPadre;
                          }
                        <span><input type="checkbox" style="width:18px; height:17px;" id="@idPadre" data-forid="@i" data-id="@Model.Menu[i].IdMenuPadre" class="@dataClassPadre">&nbsp;&nbsp;&nbsp;</span>
                        <span style="font-weight:bold;"><i class="@Model.Menu[i].Icono" style="font-size:large;">&nbsp;&nbsp;&nbsp;</i><span style="font-size:large;max-width:140px !important">@Model.Menu[i].Nombre</span></span>
                    </div>
                    <div class="col-md-5 mt-3">
                        <div class="row">
                            <div class="col-sm-3">
                                <i title="Alta" class="fa fa-plus"></i>
                            </div>
                            <div class="col-sm-3">
                                <i title="Eliminar" class="fa fa-trash"></i>
                            </div>
                            <div class="col-sm-3">
                                <i title="Editar" class="fa fa-edit"></i>
                            </div>
                        </div>
                    </div>
                </div>
             
                @for (int fila = 0; fila < Model.Menu[i].MenuItemHijo.ToList().Count; fila++)
                {      
                    <div class="row mt-2" style="padding-bottom:6px;padding-right:6px; padding-left:6px;padding-top:-8px;">
                        <div class="col-md-7">
                            @{
                                bool checkhijo = Model.PerfilMenuHijo.Where(x => x.IdMenuHijo == Model.Menu[i].MenuItemHijo.ToList()[fila].IdMenuHijo).Any(y => y.IdRol == Model.Id) ? true : false;
                                string dataClassHijo = i + " hijo " + fila;
                                string idFila = "fila_" + Model.Menu[i].MenuItemHijo.ToList()[fila].IdMenuHijo + "_" + i;
                            }
                            <span>
                                <input type="checkbox" style="width:16px; height:16px;" id="@idFila" data-fila="@fila" data-forid="@i" data-id="@Model.Menu[i].MenuItemHijo.ToList()[fila].IdMenuHijo" data-idpadre="@Model.Menu[i].IdMenuPadre" class="@dataClassHijo"
                                       checked="@checkhijo" />
                            </span>&nbsp;&nbsp;&nbsp;
                            <span style="width:auto;font-size:small; text-align:left !important">@Model.Menu[i].MenuItemHijo.ToList()[fila].Nombr</span>
                        </div>
                        <div class="col-md-5 ">
                            <div class="row">
                                @for (int u = 0; u < Model.Menu[i].MenuItemHijo.ToList()[fila].MenuHijoAcciones.ToList().Count; u++)
                                {
                                    <div class="col-sm-3">
                                        @{
                                            bool checkaccion = Model.RolesAcciones.Where(x => x.IdMenuHijoAccion == Model.Menu[i].MenuItemHijo.ToList()[fila].MenuHijoAcciones.ToList()[u].IdMenuHijoAccion).Any(y => y.IdRol == Model.Id) ? true : false;
                                            string dataClassAccion = i + " accion " + fila;
                                            string idAccion = "accion_" + Model.Menu[i].MenuItemHijo.ToList()[fila].MenuHijoAcciones.ToList()[u].IdMenuHijoAccion + "_" + fila + "_" + i;
                                        }

                                        <input type="checkbox" data-foraccionid="@u" data-fila="@fila" id="@idAccion" data-forid="@i" data-idpadre="@Model.Menu[i].IdMenuPadre" data-idhijo="@Model.Menu[i].MenuItemHijo.ToList()[fila].IdMenuHijo" class="@dataClassAccion" data-id="@Model.Menu[i].MenuItemHijo.ToList()[fila].MenuHijoAcciones.ToList()[u].IdMenuHijoAccion" checked="@checkaccion" style="width:19px; height:16px;">
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                }
            </div>
            }
        </div>
    }
    else
    {
        <h4>No existen ROLES para asignar...</h4>
    }
    <hr />
    <div class="form-group">
        <a asp-action="Index" class="btn btn-secondary float-left">Volver</a>
        @if (ViewBag.Action != "Details")
        {
            <input type="submit" value="Guardar" class="btn btn-primary active float-right mr-2" />
        }
    </div>

</form>


<!-- #region Clicks check -->

<script type="text/javascript">

    $(document).ready(function () {
        $(".padre").click(function () {
            var forID = $(this).attr("data-forid");

            const myfind = "[data-forid=" + forID + "]";
            $(document).find(myfind).prop('checked', this.checked);

        });

        $(".hijo").click(function () {
   
            var forID = $(this).attr("data-forid");
            var myfila = $(this).attr("data-fila");
            var idPadre = $(this).attr("data-idpadre");
            const myfindfila = "[data-fila=" + myfila + "]";
            const myfindpadre = "[data-forid=" + forID + "]";

            $(document).find(myfindfila + myfindpadre).prop('checked', this.checked);

            ComprobarHijoSelect(myfindpadre, idPadre); 

        });

        $(".accion").click(function () {
            var forID = $(this).attr("data-forid");
            var fila = $(this).attr("data-fila");
            var idPadre = $(this).attr("data-idpadre");
            var forAccionID = $(this).attr("data-foraccionid");
            var idHijo = $(this).attr("data-idhijo");
          
            const myfindfila = "[data-fila=" + fila + "]";
            const myfindpadre = "[data-forid=" + forID + "]";
            const myfindAccion = "[data-foraccionid=" + forAccionID + "]";

            ComprobarAccionesSelect(myfindpadre, myfindfila, idHijo, forID, idPadre);  


        });
    });

    function ComprobarHijoSelect(findPadre, forID) {
        debugger;

        const elementsFila = $(document).find(findPadre);
        var count = 0;
        for (var x = 0; x < elementsFila.length; x++) {

            const nameID = elementsFila[x].getAttribute("id");

            if (nameID.includes('fila')) {
                if (!$(document).find("#" + nameID).prop('checked')) count++;
            }

        }

        if (count == 0) $(document).find("#padre_" + forID).prop('checked', true);
        else $(document).find("#padre_" + forID).prop('checked', false);

    }


    function ComprobarAccionesSelect(findPadre, findFila, idHijo, idFor, idPadre) {
        
        const hijosFila = $(document).find(findPadre + findFila);
        var count = 0;

        for (var x = 0; x < hijosFila.length; x++) {

            const nameID = hijosFila[x].getAttribute("id");

            if (nameID.includes('accion')) {
                if (!$(document).find("#" + nameID).prop('checked')) count++;
            } 

        }

        if (count == 0) $(document).find("#fila_" + idHijo + "_" + idFor).prop('checked', true);
        else $(document).find("#fila_" + idHijo + "_" + idFor).prop('checked', false);

        ComprobarHijoSelect(findPadre, idPadre);
    }



</script>


<!-- #endregion -->
<!-- #endregion -->