@model CMRmvc.Models.Role

@{
    ViewData["Title"] = "Crud";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    string title = "Roles";
    string ico = "fas fa-align-justify";
    if (ViewBag.Action == "Edit") { title = "Modificar Roles"; ico = "far fa-edit"; }
    else if (ViewBag.Action == "Create") { title = "Alta Roles"; ico = "fas fa-plus-circle"; }
    else if (ViewBag.Action == "Details") { title = "Detalles Roles"; ico = "fas fa-info-circle"; }
}

    <style type="text/css">
        .addIcon:hover, .updIcon:hover, .delIcon:hover, .actIcon:hover {
            zoom: 1.1
        }
    </style>

<div class="d-flex">
    <div class="mr-auto p-2">
        <h4><i class="@ico"></i> @title</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewBag.Action">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ConcurrencyStamp" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly="@ViewBag.IsReadOnly" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input type="checkbox" asp-for="IsActive" class="form-check" readonly="@ViewBag.IsReadOnly" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>


            <hr />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Volver</a>
                @if (ViewBag.Action != "Details")
                {
                    <input type="submit" value="Guardar" class="btn btn-primary active float-right" />
                }
            </div>
        </form>
    </div>
</div>

@{
    var roles = new List<Role>();
    var menu = (List<MenuItemPadre>) ViewData["Menu"];

 }
<!-------------------------------------------    ROLES     -------------------------------------------->
<div class="col-md-12">
    @foreach (var padre in menu)
    {
        <div class="col-md-4 mt-3" style="min-width:430px !important">
            <div style="background-color:#2C3A43; color:azure; padding-bottom:8px;padding-right:8px; padding-left:8px;padding-top:-10px;">
                &nbsp;&nbsp;&nbsp;
                <div class="row" style="padding-right:6px">
                    <div class="col-md-7">
                    <span><input type="checkbox" class="padre" /></span>&nbsp;&nbsp;&nbsp;
                    <span style="font-weight:bold"><i class="@padre.Icono" style="font-size:large">&nbsp&nbsp</i><span style="font-size:large;max-width:140px !important">@padre.Nombre</span></span>
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-3">
                            <i class="fa fa-plus-circle addIcon" title="Alta" style="cursor:pointer;vertical-align:middle;text-align:center; background-color:transparent;font-size:large"></i>
                        </div>
                        <div class="col-md-3">
                            <i class="btneliminar fa fa-trash delIcon" title="Eliminar" style="cursor:pointer;vertical-align:middle;text-align:center; background-color:transparent;font-size:large"></i>
                        </div>
                        <div class="col-md-3">
                            <i class="fas fa-edit updIcon" title="Modificar" style="cursor:pointer;vertical-align:middle;text-align:center; background-color:transparent;font-size:large"></i>
                        </div>
                    </div>
                </div>
            </div>

            @foreach (var hijo in padre.MenuItemHijo) 
            {
                 <div class="row mt-3" style="padding-left:6px">
                    <div class="col-md-7">
                                <span style="float:left;width:10%"><input type="checkbox" class="form-check" /></span>
                                <span style="float:right; min-width:90%"><span style="width:auto; overflow-x:visible;text-align:left !important">@hijo.Nombr</span></span>
                    </div>
                    <div class="col-md-5" style="text-align:left!important;margin-left:-6px">
                        <div class="col-md-3">
                            <input type="checkbox" class="form-check" />
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="form-check" />
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="form-check" />
                        </div>

                    </div>
                    
                    
                 </div>     
            
            }
        </div>


     }
</div>
    <!-------------------------------------------    ROLES     -------------------------------------------->
