@model IEnumerable<CMRmvc.ViewModel.RoleViewModel>
@{    var menu = (List<CMRmvc.ViewModel.MenuItemPadreViewModel>)ViewData["Menu"];}

@{
    ViewData["Title"] = "Parametros";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}
<div class="d-flex">
    @if (menu != null)
    {
        foreach (var padre in menu)
        {
            foreach (var hijo in padre.MenuItemHijo)
            {
                if (hijo.Nombr == "Gestion de Perfiles")
                {
                    <div class="mr-auto p-2">
                        @*fas fa-cogs*@
                        <h4><i class="@hijo.Icono"></i>&nbsp;&nbsp;@hijo.Nombr</h4>
                    </div>
                }
                var ac = hijo.MenuHijoAcciones.FirstOrDefault(x => x.MhaUrl == "Roles/Create");
                if (ac != null)
                {
<div class="p-2">
    <a asp-route-myaction="Create" asp-action="Crud" asp-route-isreadonly="false" class="btn btn-primary btn-sm btn-lg"><i class="@ac.MhaIcono"></i>&nbsp;&nbsp;@ac.MhaTexto</a>
</div>
                }
            }
        }
    }

</div>


<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="listTable" class="table table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.Id">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @if (item.IsActive)
                                {
                                    <a>SI</a>
                                }
                                else
                                {
                                    <a>NO</a>
                                }
                            </td>
                            <td>
                                <div class="btn-group">

                                    <a asp-action="Crud" class="btn btn-info btn-sm" title="Detalles" asp-route-isreadonly="true" asp-route-id="@item.Id" asp-route-myaction="Details">
                                        <i class="nav-icon fas fa-search"></i>
                                    </a>

                                    @if (menu != null)
                                    {
                                        foreach (var padre in menu)
                                        {
                                            foreach (var hijo in padre.MenuItemHijo)
                                            {
                                                foreach (var acciones in hijo.MenuHijoAcciones)
                                                {
                                                    if (acciones.MhaUrl == "Roles/Edit")
                                                    {
                                                        <a asp-action="Crud" class="btn btn-warning btn-sm" title="Editar" asp-route-isreadonly="false" asp-route-id="@item.Id" asp-route-myaction="Edit">
                                                            <i class="@acciones.MhaIcono"></i>
                                                        </a>
                                                    }
                                                    if (acciones.MhaUrl == "Roles/Delete")
                                                    {
                                                        <a href="#" class="btn btn-danger btn-sm" title="Eliminar" onclick="ConfirmDelete(@item.Id)">
                                                            <i class="@acciones.MhaIcono"></i>
                                                        </a>
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal" id="mymodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el rol?</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="DeleteParameter()" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="parameterID" />
</div>

<script>

    var ConfirmDelete = function (ParameterId) {

        $("#parameterID").val(ParameterId);
        $("#mymodal").modal('show');
    }

    var DeleteParameter = function () {
        var paramID = $("#parameterID").val();

        $.ajax({
            type: "POST",
            url: "/Parametros/DeleteConfirmed",
            data: { id: paramID },
            success: function () {
                $("#mymodal").modal('hide');
                $("#row_" + paramID).remove();

            }
        });
    }


</script>

