@model IEnumerable<CMRmvc.Models.Parametros>

@{
    ViewData["Title"] = "Parametros";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}
    <div class="d-flex">
        <div class="mr-auto p-2">
            <h4><i class="fas fa-cogs"></i> Gestión de parámetros</h4>
        </div>
        <div class="p-2">
           <a asp-action="Crud" asp-route-isreadonly="false" class="btn btn-primary btn-sm float-right m-3" asp-route-myaction="Create"><i class="fas fa-plus"> Agregar Parámetro</i></a>
        </div>
    </div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdParametro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParClave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParValor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParAdmin)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.IdParametro">
                <td>
                    @Html.DisplayFor(modelItem => item.IdParametro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParClave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParValor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParTipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParAdmin)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Crud" class="btn btn-warning btn-sm" title="Editar" asp-route-isreadonly="false" asp-route-id="@item.IdParametro" asp-route-myaction="Edit">
                            <i class="nav-icon fas fa-edit"></i>
                        </a>
                        <a asp-action="Crud" class="btn btn-info btn-sm" title="Detalles" asp-route-isreadonly="true" asp-route-id="@item.IdParametro" asp-route-myaction="Details">
                            <i class="nav-icon fas fa-search"></i>
                        </a>
                        <a href="#" class="btn btn-danger btn-sm" title="Eliminar" onclick="ConfirmDelete(@item.IdParametro)">
                            <i class="nav-icon fas fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



<div class="modal" id="mymodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el parámetro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="DeleteParameter()" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="parameterID"/>
</div>

<script>

    var ConfirmDelete = function (ParameterId) {

        $("#parameterID").val(ParameterId);
        $("#mymodal").modal('show');
    }

    var DeleteParameter = function () {
        var paramID = $("#parameterID").val();

        $.ajax({
            type: "POST",
            url: "/Parametros/DeleteConfirmed",
            data: { id: paramID },
            success: function () {
                $("#mymodal").modal('hide');
                $("#row_" + paramID).remove();
               
            }
        });
    }


</script>