@model IEnumerable<CMRmvc.Models.Parametros>
@{var parType = ViewData["ParamType"];}
@{var menu = (List<MenuItemPadre>)ViewData["Menu"];}
@{
    ViewData["Title"] = "Parametros";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}
<div class="d-flex">
    @if (menu != null)
    {
        foreach (var padre in menu)
        {
            foreach (var hijo in padre.MenuItemHijo)
            {
                if (hijo.Nombr == "Gestion de Parametros")
                {
                    <div class="mr-auto p-2">
                        @*fas fa-cogs*@
                        <h4><i class="@hijo.Icono"></i>&nbsp;&nbsp;@hijo.Nombr</h4>
                    </div>
                }
                var ac = hijo.MenuHijoAcciones.FirstOrDefault(x => x.MhaUrl == "Parametros/Create");
                if (ac != null)
                {
                    <div class="p-2">
                        <a asp-action="Crud" asp-route-isreadonly="false" class="btn btn-primary btn-sm float-right m-3" asp-route-myaction="Create"><i class="@ac.MhaIcono">@ac.MhaTexto</i></a>
                    </div>
                }
            }
        }
    }

</div>

<div class="card">
    <div class="card-body">
        <table id="listTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ParNombre)</th>
                    <th>@Html.DisplayNameFor(model => model.ParClave)</th>
                    <th>@Html.DisplayNameFor(model => model.ParValor)</th>
                    <th>@Html.DisplayNameFor(model => model.ParTipo)</th>
                    <th>@Html.DisplayNameFor(model => model.IdParametroTipo)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.IdParametro">
                        <td>
                            @Html.DisplayFor(modelItem => item.ParNombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParClave)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParValor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParTipo)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IdParametroTipoNavigation.TipDescripcion)
                        </td>
                        <td>
                            <div class="btn-group">

                                <a asp-action="Crud" class="btn btn-info btn-sm" title="Detalles" asp-route-isreadonly="true" asp-route-id="@item.IdParametro" asp-route-myaction="Details">
                                    <i class="nav-icon fas fa-search"></i>
                                </a>

                                @if (menu != null)
                                {
                                    foreach (var padre in menu)
                                    {
                                        foreach (var hijo in padre.MenuItemHijo)
                                        {
                                            foreach (var acciones in hijo.MenuHijoAcciones)
                                            {
                                                if (acciones.MhaUrl == "Parametros/Edit")
                                                {
                                                    <a asp-action="Crud" class="btn btn-warning btn-sm" title="Editar" asp-route-isreadonly="false" asp-route-id="@item.IdParametro" asp-route-myaction="Edit">
                                                        <i class="@acciones.MhaIcono"></i>
                                                    </a>
                                                }
                                                if (acciones.MhaUrl == "Parametros/Delete")
                                                {
                                                    <a href="#" class="btn btn-danger btn-sm" title="Eliminar" onclick="ConfirmDelete(@item.IdParametro)">
                                                        <i class="@acciones.MhaIcono"></i>
                                                    </a>
                                                }
                                            }
                                        }
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                }

        </table>
    </div>
</div>

<div class="modal" id="mymodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el parámetro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="DeleteParameter()" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="parameterID" />
</div>


